 {% extends "base.html.twig" %}
  {% block content %}

  <h1>Vous souhaitez contacter!!</h1>

  <th>
  <th><h3>Laboutiquelatino</h3></th>
  <br>
  <td>44 boulevard Robert Laforge</td>
  <br>
  <td>78360 Montesson</td>
  <br>
  <td>01.75.85.96.39</td>
  </th>
  <br>
  {% endblock %}
 


