{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}
<div class="container marketing">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Nos produits sont certifier 100% d'origine d'amerique latine <span class="text-muted">Tester et approuver par nos clients.</span></h2>
                <p class="lead">Notre engagement vous raporter un peu de chaleur latino dans vos foyers </p>
            </div>
            <div class="col-md-5">
                <img src="{{asset('asset/img/CSA-certif.jpeg')}}" class="img-fluid" alt="Préparer des plats plein de saveurs">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Notre engagement pour la planete <span class="text-muted">Pour une meilleur vie future.</span></h2>
                <p class="lead">Prendre soin de nos produits en respectant la production local</p>
            </div>
            <div class="col-md-5 order-md-1">
               <img src="{{asset('asset/img/prodlatino.jpg')}}" class="img-fluid" alt="produit locaux">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Allier produit et ecologie.</h2>
                <p class="lead">Notre engagement reduire les embalage plastique et valoriser l'éco-responsable </p>
            </div>
            <div class="col-md-5">
                <img src="{{asset('asset/img/ecologie-globale.jpg')}}" class="img-fluid" alt="eco-responsable"
            </div>
        </div>

        <hr class="featurette-divider">

    </div><!-- /.container -->
{% endblock %}
